.background
{
	background-color:green;
	height:130px;
	width:100%;
	
}
.header
{
	margin-top:73px;
	position:relative;
	width:100%;
	z-index:30;
	margin-top:-95px;
}

.logo{
	
	position:relative;
	top:95px;
	margin-left:10px;
	
}
.mlogin
{
	margin-left:85%;
	position:relative;`	
	z-index:30;
	top:-50px;
	padding:0px 20px;
	
}

#welcome_text
{
	margin-top:-110px;
	color:white;
font-size:17px;
margin-left:90%;
	}
	#logout
{
	margin-left:90%;
	margin-top:0px;
}

#insert_style{
	
	font-size:25px;
	
	
}